/* #region Root variables style */
:root {
  scroll-behavior: smooth;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}
/* #endregion */
/* #region Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
}
button {
  font-family: inherit;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: currentColor;
  font-style: normal;
}
/* #endregion */
/* #region hide */
.hide {
  display: none;
}
/* #endregion */
/* #region Common styles */

body {
  width: 100%;
  color: var(--slate);
  font-family: var(--font-family);
  background-color: var(--white);
  letter-spacing: 0.02em;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  min-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1158px) {
  .container {
    padding: 0 15px;
    max-width: 1158px;
  }
}
.logo {
  padding: 17.5px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  font-family: var(--second-family);
}
.dark-logo {
  color: var(--navy-blue);
}
.btn {
  display: block;
  margin: 0 auto;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  min-height: 56px;
  background-color: var(--iris);
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: var(--white);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  background-color: var(--ocean);
}
.btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
  color: var(--navy-blue);
  background-color: var(--cornflower);

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:active {
  border: none;
  background-color: var(--ocean);
  color: var(--white);
}
.btn-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
}

.section-caption {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

/* #endregion */
/* #region Header */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: none;
}
.contacts {
  display: none;
}
.burger-menu-icon {
  cursor: pointer;
}
@media (min-width: 767.98px) {
  .burger-menu-icon {
    display: none;
  }
}
@media (min-width: 768px) {
  .container {
    min-width: 768px;
  }
  .logo {
    padding: 0;
  }
  .nav {
    display: block;
  }
  .nav-list {
    display: flex;
    gap: 40px;
    font-weight: 500;
    color: var(--navy-blue);
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .nav-link {
    position: relative;
  }
  .nav-link.nav-active {
    color: var(--ocean);
  }
  .nav-active::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--ocean);
    border-radius: 2px;
  }
  .nav-link {
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link:focus,
  .nav-link:active {
    color: var(--ocean);
  }
  .contacts {
    display: block;
  }
  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: var(--slate);
  }
  .contacts-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-link:focus,
  .contacts-link:active {
    color: var(--ocean);
  }
}
@media (min-width: 1158px) {
  .container {
    min-width: 1158px;
    padding: 0 15px;
  }
  .logo-right-margin {
    margin-right: 76px;
  }
  .nav {
    flex-grow: 1;
  }
  .contacts-list {
    flex-direction: row;
    gap: 40px;
    font-size: 16px;
  }
}
@media (hover: hover) {
  .nav-link:hover {
    color: var(--ocean);
  }
  .contacts-link:hover {
    color: var(--ocean);
  }
}

/* #endregion */
/* #region Hero */
.hero {
  max-width: 100%;
  margin: 0 auto;
  background-color: var(--navy-blue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/header-bg-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-container {
  padding: 72px 0;
}
.hero-caption {
  display: block;
  margin: 0 auto;
  max-width: 216px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--white);
  margin-bottom: 72px;
}
@media (min-width: 768px) {
  .hero-container {
    padding: 112px 0;
  }
  .hero-caption {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
}
@media (min-width: 1158px) {
  .hero-container {
    padding: 188px 0;
  }
}
/* #endregion */
/* #region Features */
.features {
  padding: 96px 0;
}
.features-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
.features-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: calc((100% - 40px) / 2);
  align-items: center;
  text-align: center;
  gap: 8px;
}
.features-title {
  font-size: 36px;
  line-height: 1.11;
  color: var(--navy-blue);
}
.features-descr {
  font-weight: 500;
  line-height: 1.5;
}
@media (min-width: 425px) {
  .features-item {
    max-width: 390px;
  }
}
@media (min-width: 768px) {
  .features-list {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
  }
  .features-item {
    text-align: left;
    flex-basis: calc((100% - 24px) / 2);
  }
}
@media (min-width: 1158px) {
  .features {
    padding: 120px 0;
  }
  .features-item {
    display: block;
    flex-basis: calc((100% - 72px) / 4);
  }
  .features-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 112px;
    background-color: var(--cloud);
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .features-icon {
    width: 64px;
    height: 64px;
  }
}
/* #endregion */
/* #region Team */
.team {
  background-color: var(--cloud);
  padding: 96px 0;
}
.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
.team-item {
  max-width: 264px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);
}
.team-info {
  padding: 32px 16px;
  text-align: center;
}
.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue);
}
.team-descr {
  line-height: 1.5;
  margin-bottom: 8px;
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-item {
  width: 40px;
  height: 40px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
}
.social-img {
  fill: var(--cloud);
}
.social-link:focus,
.social-link:active {
  background-color: var(--ocean);
}
@media (hover: hover) {
  .social-link:hover {
    background-color: var(--ocean);
  }
}
@media (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .team-list {
    flex-basis: calc((100% - 48px) / 2);
  }
}
@media (min-width: 1158px) {
  .team {
    padding: 120px 0;
  }
  .team-list {
    gap: 24px;
  }
  .team-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}
/* #endregion */
/* #region Portfolio */
.portfolio {
  padding: 96px 0;
}
.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}
.portfolio-item {
  max-width: 100%;
  border-radius: 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  overflow: hidden;
}
.img-wrapper {
  position: relative;
  overflow: hidden;
}
.layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  color: var(--cloud);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-info {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue);
  margin-bottom: 8px;
}
.portfolio-descr {
  line-height: 1.5;
}
@media (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px 24px;
  }
  .portfolio-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}
@media (min-width: 1158px) {
  .portfolio {
    padding: 120px 0;
  }
  .portfolio-item {
    flex-basis: calc((100% - 48px) / 3);
  }
}
@media (hover: hover) {
  .img-wrapper:hover .layout {
    transform: translateY(0);
  }
}
/* #endregion */

/* #region Footer */

/* #endregion */
/* #region Burger Menu */

.burger-menu {
  width: 100%;
  min-height: 100%;
  padding: 72px 16px 40px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.burger-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition-delay: 0ms;
}
@media (min-width: 767.98px) {
  .burger-menu {
    display: none;
  }
}
.nav-burger-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--navy-blue);
}
.nav-burger-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-burger-item:active {
  color: var(--ocean);
}
.burger-address {
  margin-top: auto;
  margin-bottom: 48px;
}
.burger-address-item:not(:last-child) {
  margin-bottom: 24px;
}
.burger-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.burger-address-link:active {
  color: var(--ocean);
}
.burger-social-list {
  display: flex;
  gap: 40px;
}
.burger-social-item {
  width: 40px;
  height: 40px;
}
.burger-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
}
.burger-social-link:active {
  background-color: var(--ocean);
}
.burger-social-icon {
  fill: var(--cloud);
}
/* #endregion */
